:root {
    --violeta: rgb(104, 26, 100);
    --gris: rgba(133, 120, 132, 0.527);
    --claro:  rgba(154, 137, 152, 0.256);
}

section {
    padding-top: 100px;
    padding-bottom: 120px;
}

.card {
    background-color:var(--claro);
    padding: 25px;
    box-shadow:10px 5px 5px var(--violeta);
    border-color: transparent;
}

h1,h2,h3,h4,h5,
.display-4 {
    color:black;
    font-weight: 700;
}